# Python
.venv/
**/__pycache__
**/.pytest_cache
**/.ruff_cache
**/*.egg-info
**/build

# VUnit
**/vunit_out
**/work

# VSCode
**/.vscode/

# Vivado
synthesis/uart
**/*vivado.log
**/*vivado.jou
**/*.backup.log
**/*.backup.jou
**/*.bit

# MkDocs
site/
