/*
 * Filename: /home/tim/projects/uart/.gitignore
 * Path: /home/tim/projects/uart
 * Created Date: Friday, October 17th 2025, 6:20:53 pm
 * Author: Timothée Charrier
 *
 * Copyright (c) 2025 Elsys Design
 */

# Python
.venv/
**/__pycache__
**/.pytest_cache
**/.ruff_cache
**/*.egg-info
**/build

# VUnit
**/vunit_out
**/work

# VSCode
**/.vscode/